@import 'template';

$threeD: 0 2px 5px;
$roundy: 1em;

.pinCard,
.boardCard {
  background: $rgba-second4;
  box-shadow: $threeD $rgba-second1;
  // height: 30vh;
  border-radius: $roundy;
  margin-top: 1em;
}

.boardCard .glyphicon {
  margin: 8vh auto 0 auto;
  font-size: 2em;
}

.boardCard {
  height: 25vh;
  text-align: center;
}

.pinCard img {
  width: 100%;
  margin-bottom: 25px;
}

#wrapper {
  border-radius: $roundy;
}

header {
  margin-top: 10px;
}

#page-foot {
  color: white;
}
