<h2>{{title}}</h2>
<form>
  <div class="form-group">
    <label>Description</label>
    <!-- TODO: Hook up this form to our JS for submitting -->
    <input type="text" class="form-control" placeholder="Description" ng-model="newPin.description" />
  </div>
  <div class="form-group">
    <label>URL</label>
    <input type="text" class="form-control" placeholder="https://upload.wikimedia.org/wikipedia/commons/8/85/Close-up_of_a_cat.JPG" ng-model="newPin.url" />
  </div>
  <div class="btn btn-default">
    <select 
        ng-model="newPin.boardId" 
        size="1" 
        ng-options="item.id as item.title for item in boards | orderBy:'title'" 
        ng-change="update(id)">
    </select>
  </div>
  <!-- TODO: bind this button to a function -->
  <button class="btn btn-default" ng-click="addNewPin()">{{btnText}}</button>
</form>

