<div class="row">
	<a id="newBoardBtn" class="col-sm-4 col-md-3" href="#/createBoard">
		<span class="glyphicon glyphicon-plus" aria-label="true"></span>
	</a>

	<div id="addedBoards"></div>

	<div class="col-sm-4 col-md-3" ng-repeat="thing in boards">
		<a ng-href="#/boards/{{thing.boardId}}">
			<div class="col-md-3 boardCards">
				<h3>{{thing.title}}</h3>
			</div>
		</a>

	</div>
</div>


		<!-- <button id="{{thing.id}}" class="col-md-3 boardCards" type="button" ng-click="viewBoard()">
			<h3>{{thing.title}}</h3>
		</button> -->