<div class="row">
	<div class="col-xs-12">
		
		<a id="newBoardBtn" href="#/createBoard">
			<div class="col-sm-4 col-md-3">
				<div class="col-xs-12 boardCard">
					<i class="glyphicon glyphicon-plus" aria-label="true"></i>
					<h4>Add a Board</h4>
				</div>
			</div>
		</a>

		<div ng-repeat="thing in boards">
			<a ng-href="#/userBoard/{{thing.boardId}}">
				<div class="col-sm-4 col-md-3">
					<div class="col-xs-12 boardCard">
						<h3>{{thing.title}}</h3>
					</div>
				</a>
			</div>
		</div>

	</div>
</div>
